@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Student Management System</h1>
</div>

<div class="row">
    <div class="col-md-3">
        <h2>Courses</h2>

    </div>
    <div class="col-md-3">
        <h2>Batches</h2>
    </div>
    <div class="col-md-3">
        <h2>Registration</h2>
    </div>
    <div class="col-md-3">
        <h2>Users</h2>
    </div>
</div>